<p id="notice"><%= notice %></p>

<h1>COHORTS</h1>

<div class="cohort-list-grid">
  <div class="title-row">
    <%= link_to "COURSE", :controller => "cohorts", :sort => "course_id" %>
  </div>
  <div class="title-row">
    <%= link_to "COHORT SECTION", :controller => "cohorts", :sort => "name" %>
  </div>
  <div class="title-row">
    <%= link_to "START DATE", :controller => "cohorts", :sort => "start_date" %>
  </div>
  <div class="title-row">
    <%= link_to "END DATE", :controller => "cohorts", :sort => "end_date" %>
  </div>
  <div class="title-row">

  </div>

  <% @cohorts.each do |cohort| %>

    <div>
      <%= cohort.course.name %>
    </div>
    <div>
      <%= cohort.name %>
    </div>

    <div>
      <%= cohort.start_date.strftime('%b %d, %Y') %>
    </div>
    <div>
      <%= cohort.end_date.strftime('%b %d, %Y') %>
    </div>

    <div>
      <%= link_to cohort do %>
      SHOW
    <% end %>
    &nbsp;
    <%= link_to edit_cohort_path(cohort) do %>
    EDIT
  <% end %>
  &nbsp;
  <%= link_to cohort, method: :delete, data: { confirm: 'Are you certain? This action is irreversible' } do %>
  DELETE
<% end %>
</div>

<% end %>
</div>

<%= link_to 'New Cohort', new_cohort_path %>
