<p id="notice"><%= notice %></p>

<div class="page-title-row">

<h1>COHORTS</h1>

<div class="add-button">
<%= link_to new_cohort_path do %> ADD COHORT &nbsp; <i class="fas fa-chalkboard"></i>&nbsp;&#43;
<% end %>
</div>

</div>


<div class="cohort-list-grid">
  <div class="title-row">
    <%= link_to "COURSE", :controller => "cohorts", :sort => "course_id" %>
  </div>
  <div class="title-row">
    <%= link_to "COHORT SECTION", :controller => "cohorts", :sort => "name" %>
  </div>
  <div class="title-row">
    <%= link_to "START DATE", :controller => "cohorts", :sort => "start_date" %>
  </div>
  <div class="title-row">
    <%= link_to "END DATE", :controller => "cohorts", :sort => "end_date" %>
  </div>
  <div class="title-row">

  </div>

  <% @cohorts.each do |cohort| %>

    <div>
      <%= link_to cohort.course.name, course_path(cohort.course.id) %>
    </div>

    <div>
      <%= link_to cohort_path(cohort.id) do%><%= cohort.name %><% end %>
    </div>

    <div>
      <%= cohort.start_date.strftime('%b %d, %Y') %>
    </div>
    <div>
      <%= cohort.end_date.strftime('%b %d, %Y') %>
    </div>


    <div class="actionsdiv">

    <div class="showbtn"><%= link_to cohort_path(cohort) do %>
      MORE
    <% end %>
    </div>

    <div class="editbtn"><%= link_to edit_cohort_path(cohort) do %>
    EDIT
    <% end %>
    </div>

    <div class="delbtn"><%= link_to cohort, method: :delete, data: { confirm: 'Are you certain? This action is irreversible' } do %>
    DELETE
    <% end %>
    </div>
    </div>

<% end %>
</div>
