<p id="notice"><%= notice %></p>

<h1>COHORTS</h1>

<div class="cohort-list-grid">
  <div>
    <b>COURSE</b>
  </div>
  <div>
    <b>COHORT SECTION</b>
  </div>
  <div>
    <b>START DATE</b>
  </div>
  <div>
    <b>END DATE</b>
  </div>
  <div>
    <b>ACTIONS</b>
  </div>

  <% @cohorts.each do |cohort| %>

    <div>
      <%= cohort.course.name %>
    </div>
    <div>
      <%= cohort.name %>
    </div>

    <div>
      <%= cohort.start_date %>
    </div>
    <div>
      <%= cohort.end_date %>
    </div>

    <div>
      <%= link_to cohort do %>
      SHOW
    <% end %>
    &nbsp;
    <%= link_to edit_cohort_path(cohort) do %>
    EDIT
  <% end %>
  &nbsp;
  <%= link_to cohort, method: :delete, data: { confirm: 'Are you certain? This action is irreversible' } do %>
  DELETE
<% end %>
</div>

<% end %>
</div>

<%= link_to 'New Cohort', new_cohort_path %>
