<p id="notice"><%= notice %></p>

<p>
  <strong>Cohort Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>COURSE:</strong>
  <%=  @cohort.course.name %>
</p>

<p>
  <strong>INSTRUCTOR:</strong>
  <%=  @cohort.instructor.full_name if @cohort.instructor %>
</p>



<p>
  <strong>START:</strong>
  <%= @cohort.start_date %>
</p>


<p>
  <strong>END:</strong>
  <%= @cohort.end_date %>
</p>

<p>
  <strong>STUDENTS</strong>
  <% @cohort.students.each do |z| %>
  <%= z.first_name %>
  <br>
  <% end %>
</p>

<h1>assign instructor</h1>

<%= form_for @cohort do |form| %>
<%= form.collection_select(:instructor_id, Instructor.all, :id, :full_name) %>
<%= form.submit %>
<% end %>


<h1>add student</h1>

<%= form_tag({controller: :cohorts, action: :update}, method: :get)%>
<%= collection_select(:q, :student_ids, Student.all, :id, :full_name) %>
<%= submit_tag("ADD COURSE") %>


<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
