<%= form_for @student do |form| %>
<% if student.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(student.errors.count, "error") %>
      prohibited this student from being saved:</h2>

    <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="form-row">
  <div class='form-symbol'>
    <i class="fas fa-signature"></i>
  </div>

  <div>
    <%= form.text_field :first_name, placeholder: "FIRST NAME" %>
  </div>
</div>
<div class="form-row">
  <div class='form-symbol'>
    <i class="fas fa-font"></i>
  </div>
  <div>
    <%= form.text_field :last_name, placeholder: "LAST NAME" %>
  </div>
</div>
<div class="form-row">
  <div class='form-symbol'>
    <i class="fas fa-unlock-alt"></i>
  </div>
  <div>
    <%= form.password_field :password, placeholder: "PASSWORD" %>
  </div>
</div>
<div class="form-row">
  <div class='form-symbol'>
    <i class="fas fa-calendar-alt"></i>
  </div>
  <div>
    <%= form.number_field :age, max: 150 %>
  </div>
</div>
<div class="form-row">
  <div class='form-symbol'>
    <i class="fas fa-graduation-cap"></i>
  </div>
  <div><%= form.select(:education_level, [['High School'], ['College'], ['Master\'s Degree'], ['Doctorate']]) %></div>
</div>

<div><%= form.submit %></div>

<% end %>
