<%= form_for @student do |form| %>
<% if student.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(student.errors.count, "error") %>
      prohibited this student from being saved:</h2>

    <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form.text_field :first_name, placeholder: "FIRST NAME" %>
  <%= form.text_field :last_name, placeholder: "LAST NAME" %>
  <%= form.number_field :age, max: 150 %>
  <%= form.select(:education_level, [['No Degrees', 0], ['High School', 1], ['Some College', 2], ['Associate\'s Degree', 2], ['Bachelor\'s Degree', 3], ['Master\'s Degree', 4], ['Doctorate or PhD', 5]]) %>
  <%= form.submit %>

  

<% end %>
