<p id="notice"><%= notice %></p>

<h1>STUDENTS LIST</h1>

<div class="student-list-grid">

  <div class="title-row">
    <%= link_to "FIRST NAME", :controller => "students", :sort => "first_name" %>
  </div>
  <div class="title-row">
    <%= link_to "LAST NAME", :controller => "students", :sort => "last_name" %>
  </div>
  <div class="title-row">
    <%= link_to "AGE", :controller => "students", :sort => "age" %>
  </div>
  <div class="title-row">
    <%= link_to "EDUCATION", :controller => "students", :sort => "education_level" %>
  </div>
  <div class="title-row">

  </div>

  <% @students.each do |student| %>

    <div><%= student.first_name %></div>
    <div><%= student.last_name %></div>
    <div><%= student.age %></div>
    <div><%= student.education_level%></div>

    <div><%= link_to student do %>
      SHOW
    <% end %>
&nbsp;
    <%= link_to edit_student_path(student) do %>
    EDIT
    <% end %>
&nbsp;
    <%= link_to student, method: :delete, data: { confirm: 'Are you certain? This action is irreversible' } do %>
    DELETE
    <% end %>
    </div>

    <% end %>
    </div>

<p><%= link_to 'ADD STUDENT', new_student_path %></p>
