<p id="notice"><%= notice %></p>

<h1>STUDENTS LIST</h1>

<div class="student-list-grid">

  <div>
    <b>FIRST NAME</b>
  </div>
  <div>
    <b>LAST NAME</b>
  </div>
  <div>
    <b>AGE</b>
  </div>
  <div>
    <b>EDUCATION</b>
  </div>
  <div>
    <b>ACTIONS</b>
  </div>
  <% @students.each do |student| %>

    <div><%= student.first_name %></div>
    <div><%= student.last_name %></div>
    <div><%= student.age %></div>
    <div><%= student.education_level%></div>

    <div><%= link_to student do %>
      SHOW
    <% end %>
&nbsp;
    <%= link_to edit_student_path(student) do %>
    EDIT
    <% end %>
&nbsp;
    <%= link_to student, method: :delete, data: { confirm: 'Are you certain? This action is irreversible' } do %>
    DELETE
    <% end %>
    </div>

    <% end %>
    </div>

<p><%= link_to 'ADD STUDENT', new_student_path %></p>
