<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Highest Education Level:</strong>
  <%= @student.education_level %>
</p>

<p>
  <strong>Current Class List:</strong>
  <% @student.cohorts.each do |x| %>
    <%= link_to "#{x.name}", cohort_path(x.id) %>
  <% end %>


</p>

<h1>JOIN A class</h1>
<%= form_tag({controller: "students", action: "update"}, method: "get") %>
<%= collection_select(:q, :q, Cohort.all, :id, :name ) %>
<%= submit_tag("ADD COURSE") %>


<%= link_to 'Edit', edit_student_path(@student) %>
<%= link_to 'Back', students_path %>
