<%= form_for @instructor do |form| %>
<% if instructor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(instructor.errors.count, "error") %>
      prohibited this instructor from being saved:</h2>

    <ul>
      <% instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= form.text_field :first_name, placeholder: "FIRST NAME" %>
  <%= form.text_field :last_name, placeholder: "LAST NAME" %>
  <%= form.password_field :password, placeholder: "PASSWORD" %>
  <%= form.number_field :age, max: 150 %>
  <%= form.number_field :salary, min: 1 %>
  <%= form.select(:education_level, [['High School'], ['College'], ['Master\'s Degree'], ['Doctorate']]) %>
    <%= form.submit %>

<% end %>
