<%= form_for @instructor do |form| %>
<% if instructor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(instructor.errors.count, "error") %>
      prohibited this instructor from being saved:</h2>

    <ul>
      <% instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-row">
  <div class="form-symbol">
    <i class="fas fa-signature"></i>
  </div>
  <%= form.text_field :first_name, placeholder: "FIRST NAME" %>
</div>

<div class="form-row">
  <div class="form-symbol">
    <i class="fas fa-font"></i>
  </div>
  <%= form.text_field :last_name, placeholder: "LAST NAME" %>
</div>

<div class="form-row">
  <div class="form-symbol">
    <i class="fas fa-unlock-alt"></i>
  </div>
  <%= form.password_field :password, placeholder: "PASSWORD" %>
</div>

<div class="form-row">
  <div class="form-symbol">
    <i class="fas fa-calendar-alt"></i>
  </div>
  <%= form.number_field :age, max: 150, placeholder: "AGE"  %>
</div>

<div class="form-row">
  <div class="form-symbol">
    <i class="fas fa-file-invoice-dollar"></i>
  </div>
  <%= form.number_field :salary, min: 1, placeholder: "SALARY"  %>
</div>

<div class="form-row">
  <%= form.select(:education_level, [['High School'], ['College'], ['Master\'s Degree'], ['Doctorate']]) %>
</div>

<div class="form-row">
  <%= form.submit %>
</div>
<% end %>
