<p id="notice"><%= notice %></p>

<div class="page-title-row">

<h1>INSTRUCTORS</h1>

<div class="add-button">
<%= link_to new_instructor_path do %> ADD INSTRUCTOR &nbsp; <i class="fas fa-chalkboard-teacher"></i>&nbsp;&#43;
<% end %>
</div>

</div>

<div class="instructor-list-grid">
  <div class="title-row"></div>
  <div class="title-row">
    <%= link_to "FIRST NAME", :controller => "instructors", :sort => "first_name" %>
  </div>
  <div class="title-row">
    <%= link_to "LAST NAME", :controller => "instructors", :sort => "last_name" %>
  </div>
  <div class="title-row">
    <%= link_to "AGE", :controller => "instructors", :sort => "age" %>
  </div>
  <div class="title-row">
    <%= link_to "EDUCATION LEVEL", :controller => "instructors", :sort => "education_level" %>
  </div>
  <div class="title-row">
    <%= link_to "SALARY", :controller => "instructors", :sort => "salary" %>
  </div>
  <div class="title-row">

  </div>

  <% @instructors.each do |instructor| %>

  <div class="tiny-profile-pic">
    <%= link_to instructor_path(instructor.id) do %>
  <%= image_tag("/animals/" + rand(1..50).to_s + ".png") %>
  <% end %>
  </div>

    <div><%= link_to instructor_path(instructor.id) do %><%= instructor.first_name %><% end %></div>
    <div><%= link_to instructor_path(instructor.id) do %><%= instructor.last_name %><% end %></div>
    <div><%= instructor.age %></div>
    <div><%= instructor.education_level%></div>

    <div><%= number_to_currency(instructor.salary) %></div>

    <div class="actionsdiv">

    <div class="showbtn"><%= link_to instructor_path(instructor) do %>
      MORE
    <% end %>
    </div>

    <div class="editbtn"><%= link_to edit_instructor_path(instructor) do %>
    EDIT
    <% end %>
    </div>

    <div class="delbtn"><%= link_to instructor, method: :delete, data: { confirm: 'Are you certain? This action is irreversible' }, :remote => true, :class => 'delete_instructor' do %>
    DELETE
    <% end %>
    </div>
    </div>

<% end %>
  </div>
