<p id="notice"><%= notice %></p>

<h1>INSTRUCTORS LIST</h1>

<div class="instructor-list-grid">

  <div>
    <b>FIRST NAME</b>
  </div>
  <div>
    <b>LAST NAME</b>
  </div>
  <div>
    <b>AGE</b>
  </div>
  <div>
    <b>EDUCATION</b>
  </div>
  <div>
    <b>SALARY</b>
  </div>
  <div>
    <b>ACTIONS</b>
  </div>

  <% @instructors.each do |instructor| %>

    <div><%= instructor.first_name %></div>
    <div><%= instructor.last_name %></div>
    <div><%= instructor.age %></div>
    <div><%= instructor.education_level%></div>

    <div><%= instructor.salary %></div>
    <div><%= link_to instructor do %>
      SHOW
    <% end %>
&nbsp;
    <%= link_to edit_instructor_path(instructor) do %>
    EDIT
    <% end %>
&nbsp;
    <%= link_to instructor, method: :delete, data: { confirm: 'Are you certain? This action is irreversible' } do %>
    DELETE
    <% end %>
    </div>

<% end %>
  </div>
<p><%= link_to 'New User', new_instructor_path %></p>
