<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @instructor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @instructor.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @instructor.age %>
</p>
<p>
  <strong>Salary:</strong>
  <%= @instructor.salary %>
</p>
<p>
  <strong>Highest Education Level:</strong>
  <%= @instructor.education_level %>
</p>

<p>
  <strong>Cohorts</strong>
  <% @instructor.cohorts.each do |z| %>
  <%= z.name %>
  <% end %>
</p>

<h1>add cohorts</h1>
<%= form_tag({controller: :instructors, action: :update}, method: :get)%>
<%= collection_select(:q, :cohort_ids, Cohort.all, :id, :name) %>
<%= submit_tag('ADD COHORT') %>


<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
