<div class="edit-page">
  <p id="notice"><%= notice %></p>
  <div class="show-page">

    <div class="show-inner">
<p>
  <strong>First name:</strong>
  <%= @instructor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @instructor.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @instructor.age %>
</p>
<p>
  <strong>Salary:</strong>
  <%= @instructor.salary %>
</p>
<p>
  <strong>Highest Education Level:</strong>
  <%= @instructor.education_level %>
</p>

<p>
  <strong>Cohorts</strong>
  <% @instructor.cohorts.each do |z| %>
  <%= z.name %>
  <% end %>
</p>

</div>
<div class="show-inner">
<h1>add cohorts</h1>
<%= form_tag({controller: :instructors, action: :update}, method: :get)%>
<div class="form-row">
  <div class="form-symbol"><i class="fas fa-chalkboard"></i></div>
 <div><%= collection_select(:q, :cohort_ids, Cohort.all, :id, :name) %></div>
</div>
<%= submit_tag('ADD COHORT') %>
</div>
</div>

<div>
<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
</div>

</div>
