<div class="page-title-row">
  <div class="add-button"><%= link_to 'EDIT', edit_instructor_path(@instructor) %>&nbsp;<i class="fas fa-user-edit"></i>
  </div>
  <div>
    <h2>INSTRUCTOR PROFILE</h2>
  </div>
  <div class="add-button"><%= link_to 'LIST', instructors_path %>&nbsp;<i class="fas fa-list-alt"></i>
  </div>
</div>

<div class="edit-page-instructors">


  <div class="show-inner"><div class="large-profile-pic">
    <p id="notice"><%= notice %></p>
    <%= @instructor.photo.attachment.nil? ? image_tag("/animals/" + rand(1..50).to_s + ".png") : image_tag(@instructor.photo) if logged_in? %> </div> <h2> <%= @instructor.first_name %> <%= @instructor.last_name %> </h2> <div class="bar"></div>

  <p>
    <strong>Age:</strong>
    <%= @instructor.age %>
  </p>
  <p>
    <strong>Salary:</strong>
    <%= number_to_currency(@instructor.salary) %>
  </p>
  <p>
    <strong>Highest Education Level:</strong>
    <%= @instructor.education_level %>
  </p>

  <br>


</div>
<div class="show-inner">

  <h2>COHORTS</h2>
  <div class="bar">
  </div>
  <% @instructor.cohorts.each do |z| %>
    <%=link_to cohort_path(z) do %>
    <p><%= z.name %></p>
  <% end %>
  <ul>
    <% z.students.each do |k| %>
      <li><%=link_to student_path(k) do %><%= k.full_name %>
      <% end %>
    </li>
  <% end %>
</ul>
<% end %>
<br>
<h2>ADD COHORTS</h2>
<%= form_tag({controller: :instructors, action: :update}, method: :get)%>
<div class="form-row">
<div class="form-symbol">
  <i class="fas fa-chalkboard"></i>
</div>
<div><%= collection_select(:q, :cohort_ids, Cohort.all, :id, :name) %></div>
</div>
<%= submit_tag('ADD COHORT') %>
</div>

</div>
