<%= form_for @user do |form| %>
<% if user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(user.errors.count, "error") %>
      prohibited this user from being saved:</h2>
    <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  <% end %>
<div class="form-row">
  <div class="form-symbol">  <i class="fas fa-signature"></i>  </div><%= form.text_field :first_name, placeholder: "FIRST NAME" %>
</div>
<div class="form-row">
  <div class="form-symbol">  <i class="fas fa-font"></i>  </div><%= form.text_field :last_name, placeholder: "LAST NAME" %>
</div>
<div class="form-row">
  <div class="form-symbol">  <i class="fas fa-at"></i>  </div><%= form.text_field :email, placeholder: "EMAIL" %>
</div>
<div class="form-row">
  <div class="form-symbol">  <i class="fas fa-key"></i>  </div><%= form.password_field :password, placeholder: "PASSWORD" %>
</div>
<div class="form-row">
  <div><h3><i class="fas fa-screwdriver"></i> &nbsp;ADMIN?</h3></div>
  <div><%= form.check_box :admin %></div>
</div>

<div class="form-row">
    <div><h3><i class="fas fa-user-graduate"></i> &nbsp; STUDENT?</h3></div>
  <div><%= form.check_box :student %></div>
</div>

<div class="form-row">
    <div><h3> <i class="fas fa-chalkboard-teacher"></i> &nbsp; INSTRUCTOR?</h3></div>
  <div><%= form.check_box :instructor %></div>
</div>

<hr>
  <%= form.label :photo, "SELECT A PROFILE PHOTO"  %><br>
  <%= form.file_field :photo %><br>


    <%= form.submit %>

  <% end %>
