<p id="notice"><%= notice %></p>

<div class="page-title-row">

<h1>FULL USERS LIST</h1>

<div class="add-button">
<%= link_to new_user_path do %> CREATE USER &nbsp; <i class="fas fa-chalkboard-teacher"></i>&nbsp;&#43;
<% end %>
</div>

</div>

<div class="user-list-grid">

  <div class="title-row">
    <%= link_to "FIRST NAME", :controller => "users", :sort => "first_name" %>
  </div>
  <div class="title-row">
    <%= link_to "LAST NAME", :controller => "users", :sort => "last_name" %>
  </div>
  <div class="title-row">
    <%= link_to "EMAIL", :controller => "users", :sort => "email" %>
  </div>
  <div class="title-row">
    <%= link_to "ADMIN?", :controller => "users", :sort => "admin" %>
  </div>
  <div class="title-row">
    <%= link_to "STUDENT?", :controller => "users", :sort => "student" %>
  </div>
  <div class="title-row">
    <%= link_to "INSTRUCTOR?", :controller => "users", :sort => "instructor" %>
  </div>
  <div class="title-row">

  </div>


<% @users.each do |user| %>

    <div><%= link_to user_path(user) do %><%= user.first_name %><% end %></div>
    <div><%= link_to user_path(user) do %><%= user.last_name %><% end %></div>
    <div><%= user.email %></div>
    <div><%= user.admin %></div>
    <div><%= user.student %></div>
    <div><%= user.instructor %></div>


    <div class="actionsdiv">

    <div class="showbtn"><%= link_to user_path(user) do %>
      MORE
    <% end %>
    </div>

    <div class="editbtn"><%= link_to edit_user_path(user) do %>
    EDIT
    <% end %>
    </div>

    <div class="delbtn"><%= link_to user, method: :delete, data: { confirm: 'Are you certain? This action is irreversible' }, :remote => true, :class => 'delete_user' do %>
    DELETE
    <% end %>
    </div>
    </div>

<% end %>
</div>
