<div class="edit-page">
  <p id="notice"><%= notice %></p>



<div class="show-inner">
<div class="large-profile-pic">
<%= current_user.photo.attachment.nil? ? image_tag("/kawaii.png"): image_tag(current_user.photo) if logged_in? %>
</div>
<h2>
  <%= @user.first_name %>
  <%= @user.last_name %>
</h2>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<!-- <p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Student:</strong>
  <%= @user.student %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @user.instructor %>
</p> -->

</div>
<div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>

</div>
