<div class="edit-page">
  <p id="notice"><%= notice %></p>



<div class="show-inner">
<div class="large-profile-pic">
<%= @user.photo.attachment.nil? ? image_tag("/kawaii.png"): image_tag(@user.photo) if logged_in? %>
</div>
<h2>
  <%= @user.first_name %>
  <%= @user.last_name %>
</h2>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<!-- <p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Student:</strong>
  <%= @user.student %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @user.instructor %>
</p> -->

</div>


<div style="display: flex;">
    <div class="add-button"><%= link_to 'EDIT', edit_user_path(@user) %>&nbsp;<i class="fas fa-user-edit"></i> </div> &nbsp; &nbsp;
    <div class="add-button"><%= link_to 'LIST', users_path %>&nbsp;<i class="fas fa-list-alt"></i></div>
</div>



</div>
