
<center>
<h1>PANEL</h1>

<%= link_to 'STUDENTS', students_path %><br>
<%= link_to 'COURSES', courses_path %><br>
<%= link_to 'COHORTS', cohorts_path %><br>
<%= link_to 'INSTRUCTORS', instructors_path %><br>
<hr>
<%= link_to 'REGISTER', new_user_path %>
</center>

<% if logged_in? %>
you logged in, boi. <br>
<%= link_to 'LOG OUT', logout_path, method: :delete %>
<% end %>
