<div class="welcome-page">

<div class="page-title-row">
  <h1>ANIMAL FARM ACADEMY</h1>

  <% if logged_in? %>
      <h2>WELCOME,
        <%= current_user.first_name.upcase %>
      </h2>
  <% end %>
</div>

  <div class="welcome-boxes">
    <div class="show-inner">
      <div class="index-pics">
        <%= link_to students_path do %><img src="main-students.png"><% end %>
      </div>
      <div>
        <%= link_to students_path do %><h3>STUDENT DATABASE</h3><% end %>
        <div class="bar"></div>
        <p>Our sagacious, stellar students simply surpass scholarly standards. </p>
      </div>
    </div>
    <div class="show-inner">
      <div class="index-pics">
        <%= link_to instructors_path do %><img src="main-instructors.png"><% end %>
      </div>
      <div>
        <%= link_to instructors_path do %><h3>FACULTY DATABASE</h3><% end %>
        <div class="bar"></div>
        <p>Our fantastic, far-faceted faculty facilitate fruitful, fun forums.</p>
      </div>
    </div>
    <div class="show-inner">
      <div class="index-pics">
        <%= link_to courses_path do %><img src="main-courses.png"><% end %>
      </div>
      <div>
        <%= link_to courses_path do %><h3>COURSE LIST</h3><% end %>
        <div class="bar"></div>
        <p>Our certifiably cerebral course catalogue can cater to countless curious characters.</p>
      </div>
    </div>
    <div class="show-inner">
      <div class="index-pics">
        <%= link_to cohorts_path do %><img src="main-cohorts.png"><% end %>
      </div>
      <div>
        <%= link_to cohorts_path do %><h3>COHORT LIST</h3><% end %>
        <div class="bar"></div>
        <p>Pick a panoply of patently perfect, planned programs.</p>
      </div>
    </div>
  </div>
</div>
