<p id="notice"><%= notice %></p>

<h1>COURSE LIST</h1>


<div class="course-list-grid">

  <div class="title-row">
    <%= link_to "COURSE NAME", :controller => "courses", :sort => "course" %>
  </div>
  <div class="title-row">
    <%= link_to "HOURS", :controller => "courses", :sort => "hours" %>
  </div>
  <div class="title-row">

  </div>

<% @courses.each do |course| %>

  <div>  <%= course.name %></div>
    <div><%= course.hours %></div>


  <div>  <%= link_to course do %>
    SHOW
  <% end %>
&nbsp;
  <%= link_to edit_course_path(course) do %>
  EDIT
<% end %>
&nbsp;
<%= link_to course, method: :delete, data: { confirm: 'Are you certain? This action is irreversible' } do %>
DELETE
<% end %></div>

<% end %>
</div>
<p><%= link_to 'New Course', new_course_path %></p>
