<p id="notice"><%= notice %></p>

<div class="page-title-row">

<h1>COURSE LIST</h1>

<div class="add-button">
<%= link_to new_course_path do %> ADD NEW COURSE &nbsp; <i class="fas fa-book"></i>&nbsp;&#43;
<% end %>
</div>

</div>


<div class="course-list-grid">

  <div class="title-row">
    <%= link_to "COURSE NAME", :controller => "courses", :sort => "course" %>
  </div>
  <div class="title-row">
    <%= link_to "HOURS", :controller => "courses", :sort => "hours" %>
  </div>
  <div class="title-row">

  </div>

<% @courses.each do |course| %>

  <div>  <%= link_to course_path(course.id) do %><%= course.name %><%end %></div>
    <div><%= course.hours %></div>



    <div class="actionsdiv">

    <div class="showbtn"><%= link_to course_path(course) do %>
      MORE
    <% end %>
    </div>

    <div class="editbtn"><%= link_to edit_course_path(course) do %>
    EDIT
    <% end %>
    </div>

    <div class="delbtn"><%= link_to course, method: :delete, data: { confirm: 'Are you certain? This action is irreversible' } do %>
    DELETE
    <% end %>
    </div>
    </div>

<% end %>
</div>
