<div class="page-title-row">
    <div class="add-button"><%= link_to 'EDIT', edit_course_path(@course) %>&nbsp;<i class="fas fa-edit"></i> </div>
    <div><h2>COURSE INFO</h2></div>
    <div class="add-button"><%= link_to 'LIST', courses_path %>&nbsp;<i class="fas fa-list-alt"></i></div>
</div>



<div class="edit-page">
  <p id="notice"><%= notice %></p>

    <div class="show-inner">
      <center>
        <div class="large-profile-pic">
          <%= image_tag("/schoolpics/" + rand(1..42).to_s + ".png") %>
        </div>
      </center>

      <h2>
        <%= @course.name %>
      </h2>
      <div class="bar"></div>

      <p>
        <strong>HOURS:</strong>
        <%= @course.hours%>
      </p>

      <p>
        <p><strong>COHORTS:</strong><br>
        <% @course.cohorts.each do |k| %>
          <%= link_to k.name, cohort_path(k.id) %><br>
        <% end %><br></p>
      </p>
      <div class="add-button"><%= link_to new_course_cohort_path(@course.id) do %>
         <i class="fas fa-plus"></i> &nbsp; ADD COHORT TO THIS COURSE
        <% end%>
      </div>
    </div>


<div>


</div>
</div>
