<div class="edit-page">
  <p id="notice"><%= notice %></p>

    <div class="show-inner">

      <h2>
        <%= @course.name %>
      </h2>
      <hr>

      <p>
        <strong>Hours:</strong>
        <%= @course.hours%>
      </p>

      <p>
        <strong>Cohorts:</strong>
        <br>
        <% @course.cohorts.each do |k| %>
          <%= link_to k.name, cohort_path(k.id) %><br>
        <% end %><br>
      </p>
      <div class="add-button"><%= link_to new_course_cohort_path(@course.id) do %>
         <i class="fas fa-plus"></i> &nbsp; ADD COHORT TO THIS COURSE
        <% end%>
      </div>
    </div>


<div>
  <p><%= link_to 'Edit', edit_course_path(@course) %>
  |
  <%= link_to 'Back', courses_path %></p>


</div>
</div>
