<!DOCTYPE html>
<html>
  <head>
    <title>Panel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <div class="dashboard-container">
      <div class="dashboard" id="dashboard">

        <header class="site-header">
          <div>
            <%= link_to pages_path do %>
            AF ACADEMY ADMIN PANEL
            <% end %>
          </div>
          <div class='close-box'>
            <div>LOGOUT</div>
            &nbsp;



              <div class="x-button" onclick="closeIt()">
                <i class="fas fa-times"></i>
              </div>




      </div>
    </header>
    <div class="content-area">
      <aside class="sidebar-area">
        <nav class="side-navigation">
          <ul class="menu">
            <div class="no-overflow-box">
              <div class="profile-pic">
                <%= link_to '#' do %>
                <% if logged_in? %>
                  <%= current_user.photo.attachment.nil? ? image_tag("/animals/" + rand(1..50).to_s + ".png") : image_tag(current_user.photo)%>
                <% else %>
                  <%= image_tag("/kawaii.png") %>
                <% end %>
              <% end %>
            </div>

          </div>
        </li>
        <% if logged_in? %>
          <li class="menu-item">
            <%= link_to user_path(current_user.id) do %>
            <i class="fas fa-user"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;<%= current_user.first_name.upcase %>
            <%= current_user.last_name.chars.first.upcase %>.
          <% end %>
        </li>
      <%end %>
      <div class="bar"></div>

      <li class="menu-item"><%= link_to students_path do %>
        <i class="fas fa-user-graduate"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;STUDENTS
      <% end %>
    </li>
    <li class="menu-item"><%= link_to courses_path do%>
      <i class="fas fa-chalkboard"></i>
      &nbsp; &nbsp;COURSES
    <% end %>
  </li>

  <li class="menu-item"><%= link_to cohorts_path do%>
    <i class="fas fa-users"></i>
    &nbsp; &nbsp;COHORTS
  <% end %>
</li>

<li class="menu-item"><%= link_to instructors_path do%>
  <i class="fas fa-chalkboard-teacher"></i>
  &nbsp; &nbsp;INSTRUCTORS
<% end %>

<li class="menu-item"><%= link_to users_path do%>
  <i class="fas fa-clipboard-list"></i>
  &nbsp; &nbsp;&nbsp;&nbsp;ALL USERS
<% end %>
</li>

<% if logged_in? %>

<li class="menu-item"><%= link_to logout_path, method: :delete do %>
  <i class="fas fa-sign-out-alt"></i>
  &nbsp;&nbsp;&nbsp;LOG OUT
<% end %>
</li>

<% else %>
<li class="menu-item"><%= link_to 'REGISTER', new_user_path %></li>
<li class="menu-item"><%= link_to 'LOGIN', '/login' %></li>
<% end %>
</ul>
</nav>
</aside>
<div class="main-body">
<%=yield %>
</div>
</div>
<footer class="site-footer"></footer>
</div>
</div>
<script type="text/javascript">
      function closeIt() {
      document.getElementById('dashboard').classList.add("close-dash");

      <% if logged_in? %>

      setTimeout(function () {
      window.location = '/logout';
    }, 800);

      <% else %>

      setTimeout(function () {
      window.location = '/login';
    }, 800);

      <% end %>

      }
</script></body> </html>
